  .bakerloo-color {
    background-color: #B36305
  }
  .central-color {
    background-color: #E32017
  }
  .circle-color {
    background-color: #FFD300
  }
  .district-color {
    background-color: #00782A
  }
  .hammersmith-city-color {
    background-color: #F3A9BB
  }
  .jubilee-color {
    background-color: #A0A5A9
  }
  .metropolitan-color {
    background-color: #9B0056
  }
  .northern-color {
    background-color: #000000
  }
  .piccadilly-color {
    background-color: #003688
  }
  .victoria-color {
    background-color: #0098D4
  }
  .waterloo-city-color {
    background-color: #95CDBA
  }
  .dlr-color {
    background-color: #00A4A7
  }
  .overground-color {
    background-color: #EE7C0E
  }
  .tramlink-color {
    background-color: #84B817
  }
  .cable-car-color {
    background-color: #E21836
  }
  .crossrail-color {
    background-color: #7156A5
  }
