
body {
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;*/
	/* font-size: 20px; */
	color: #555555;
	text-transform: none;
	/* line-height:13px; */
  /* background-color:#EEEEEE; */
  overflow: hidden;
}
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}
md-list {
  /* overflow-y: auto; */
  /* flex:1; */
  /* position:relative; */
}
.main {
   /* display: flex;  */
   /* height: 100%;  */
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  max-width: 50%;
}
.line-list {
  overflow-y: auto;
  flex:1;
  position:relative;
}
.line {
  border-bottom: 1px solid #CCC;
}

#header {
  padding:20px;
  padding-left:0px;
  padding-right: 0px;
  background-color:#FFFFFF;
  box-shadow: 2px 2px 3px #BBB;
  position: absolute;
  width: 100%;
  z-index:10;
}
#header > div{
  margin-left: 36px;
}

#header-back {
  background-color:#EEEEEE;
  /*padding:20px;*/
  /*position: fixed;  */
  width: 100%;
  height:53px;
}

.loader {
  width:32px;
  height:32px;
  margin: 200px auto;
  background-image: url("../img/ajax-loader.gif");
}

#notification-count {
  display: inline-block;
  position: absolute;
  padding: 10px;
  color: #FFFFFF;
  background-color: #999;
  z-index: 11;
  right: 10px;
  top: 10px;
  border-radius: 3px;
}

#notification-count:active {
  background-color: #C8E2FF;
}

.options-button {
  background-color:#FFFFFF;
  display: inline-block;
  width: 24px;
  position: absolute;
  z-index: 11;
  top:14px;
  padding-left: 6px;
}

.options-button div {
  height: 4px;
  background-color: #555;
  margin: 3px;
}

.title{
  background-color:#FFFFFF;
  display: inline-block;
  width: 200px;
  position: absolute;
  z-index: 11;
  top:0px;
  padding-left: 6px;
  background-image:  -webkit-image-set(
    url(../img/qaverify_small.png) 1x,
    url(../img/qaverify_small.png) 1.5x
  );
  background-repeat: no-repeat;
  background-position-y: 10px;
  margin-left:30px;
  height:50px;
}

#options-container {
  background-color:#FFFFFF;
  display:none;
  position: absolute;
  top: 53px;
  /*box-shadow: 2px 2px 3px #BBB;*/
  z-index: 9;
}

#options-container-back {
  background-color:#000;
  display:none;
  position: absolute;
  top: 53px;
  z-index: 6;
  opacity: 0;
}

#options-container li{
  padding: 19px;
  font-size:16px;
  border-bottom:1px solid #CCC;
}

#options-container li:active {
  background-color: #C8E2FF;
}

.selected-option {
  background-color: #EEE;
}


#content {
  padding: 0px;
  /*padding-top: 55px;*/
  overflow-x: hidden;
  overflow-y: auto;
}

#login-container {
  background-color: #FFFFFF;
  display: none;
  /*position: absolute;*/
}
#login-container > div {
  padding: 20px;
}
#login-container input, #login-container  button  {
  width:100%;
  padding: 10px;
  font-size:16px;
  margin-top:5px;
  margin-bottom:5px;
  box-sizing: border-box;
}

#login-label {
  color:#FF0000;
  text-align: center;
  margin-top:20px;
  font-size:16px;
}


.db-list{
}

.db-list li {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #DDD;
  margin: 10px;
  font-size:12px;
  border: 1px solid #FFFFFF;
}

.db-list li:active {
  /*border: 1px solid steelblue;*/
  /*background-color: #CCCCCC;*/
}

table.reportsTable {
	border:1px solid #CCCCCC;

	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	table-layout:fixed;
}
table.reportsTable thead{
	background-color:#EEEEEE;
}
table.reportsTable th{
	font-weight:normal;
	/*text-align:right;*/
	border-bottom:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
  padding:2px;
  overflow: hidden;
}
table.reportsTable thead  th:first-child{
  width:78%;
}
table.reportsTable tr{
	border-top:1px solid #DDDDDD;
}
table.reportsTable td{
	border-left:1px solid #DDDDDD;
  padding:2px;
}
table.reportsTable tr  td:first-child{
  word-wrap:break-word;
}

td.reportsTable_shade {
	background-color:#EEEEEE;
	border-top:1px solid #DDDDDD;
}

.ent-graph-container{
  font-size:10px;
  height:120px;
}

.ent-table-container{
  height:auto;
}

svg .axis path,
svg .axis line {
  fill: none;
  stroke: #555555;
  shape-rendering: geometricPrecision ;
}

svg .x.axis path {
  display: none;
}

svg .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

svg text {
  fill:#333;
}

.grid_notification_menu_item {
  padding: 19px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #DDD;
  margin: 10px;
  font-size:12px;
  border: 1px solid #FFFFFF;
}

.grid_notification_menu_item:active {
  /*border: 1px solid steelblue;*/
  /*background-color: #CCCCCC;*/
}

.notification_menu_item_hidden_content {
  display:none;
  margin:4px;
  border:1px solid #999999;
}

.notification_menu_item_unread {
	font-weight:bold;
}

#donut-container {
  border-top:1px solid #CCCCCC;
  margin-top:10px;
  padding-top:10px;
  height:250px;
}
