<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="manifest" href="manifest.json">
  <title>Commuter</title>
  <link rel="stylesheet" href="styles/reset.css" type="text/css" />
  <link rel="stylesheet" href="styles/app.css" type="text/css" />
  <link rel="stylesheet" href="styles/tubes.css" type="text/css" />
  <link rel="stylesheet" href="styles/angular-material.min.css" type="text/css" />
  <script data-main="js/main" src="bundle.js"></script>
</head>

<body>
  <div class="line-list" ng-app="app" ng-controller="ctrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
          <md-icon md-svg-icon="img/ic_menu_48px.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate>Commuter</h2>

        <md-button class="md-icon-button" aria-label="Favorite" ng-click="load()">
          <md-icon md-svg-icon="img/ic_refresh_white_24px.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="menu">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Settings</h1>
      </md-toolbar>
      <md-content layout-padding>
        Setting are missing at the moment
        <!-- <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button> -->
      </md-content>

    </md-sidenav>

    <md-content>
      <div class='main'>
        <tube-list></tube-list>
        <football-status></football-status>
      </div>
    </md-content>
  </div>
</body>

</html>
