{
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "window": true,
    "console": true
  }
}
